<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
        <div class="collaspe nav-collapse" id="navbarNav">
            <ul class="navbar-nav">
              {% if page.name == "index.md" %}
              <li><a class="nav-link" href="#">Home</a></li>
              {% else %}
              <li><a class="nav-link" href="index.html">Home</a></li>
              {% endif %}
              <li><a class="nav-link" href="about.html">About</a></li>
              <li><a class="nav-link" href="newsletter.html">Newsletter</a></li>
              <li><a class="nav-link" href="podcast.rss">RSS</a></li>
            </ul>
        </div>
    </nav>
