---
layout: default
---

{{ content }}

<hr />

<ul class="list-group list-group-flush">
    {% for podcast in site.podcasts reversed %}
    {% if forloop.index == 1 %}
    <h2>Latest episode</h2>
    <div class="jumbotron">
    <p>
    <a class="episode-link" href="{{ podcast.url }}">
        {% if podcast.episode_type == "bonus" %}
        <h3>{{ podcast.title }}</h3>
        {% else %}
        <h3>{{ podcast.emoji }} Episode {{ podcast.episode_number | minus: 1 }}: {{ podcast.title }}</h3>
        {% endif %}
    </a>
    {{ podcast.description }}
    <br />
    <br />
    <audio controls="">
    <source src="{{ site.podcast_audio_prefix | append: podcast.audio_filename }}" type="audio/x-m4a" />
    Your browser does not support the audio element.
    </audio>
    <br />
    <br />
    <small>Published on <a href="{{ podcast.url }}">{{ podcast.date | date_to_string }}</a></small>
    </p>
    </div>
    {% else %}
    <li class="list-group-item">
    <p>
    <a class="episode-link" href="{{ podcast.url }}">
        {% if podcast.episode_type == "bonus" %}
        <h3>{{ podcast.title }}</h3>
        {% else %}
        <h3>{{ podcast.emoji }} Episode {{ podcast.episode_number | minus: 1 }}: {{ podcast.title }}</h3>
        {% endif %}
    </a>
    {{ podcast.description }}
    <br />
    <br />
    <small>Published on <a href="{{ podcast.url }}">{{ podcast.date | date_to_string }}</a></small>
    </p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
